html {
    font-size: 12px;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: "Space Grotesk", sans-serif, Roboto, Helvetica, Arial, sans-serif;
    --p-button-primary-background: #48897b;
    --p-button-primary-border-color: #48897b;
    --p-button-text-primary-color: #48897b;
}

:root {
    --font-size-2xs: 0.65rem;
    --font-size-xs: 0.72rem;
    --font-size-sm: 0.82rem;
    --font-size-md: 0.9rem;
    --font-size-lg: 1.05rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 2rem;
    --font-size-3xl: 3rem;
}
